body{
    margin: 0;
    padding: 0;
}
.intro{
    position: relative;
    z-index: 0;
}
.intro_banner{
    text-align: center;
    background-image: url(intro_background.jpg);
    background-size: 100%;
    height: 770px;
    width: 1423px;
    margin: 0 auto;
}
.intro_nav{
    position: absolute;
    top: 12%;
    left: 8%;
}
.intro_nav_item{
    color: #303030;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    padding: 10px;
    border: solid 2px transparent;
}
.intro_nav_item:hover{
    border: solid 2px #303030;
    border-radius: 5%;
}
h1{
    color: #303030;
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 27%;
    left: 30%;
    padding: 35px;
    /*border: solid 10px #303030;*/
}
.speciality{
    line-height: 2;
}
.my_photo{
    position: absolute;
    top: 45%;
    left: 5%;
    line-height: 0;
    -border: solid;
    border-radius: 50%;
    -border-width: 15px;
    -background-color: transparent;
    -border-image: url(photo_border.jpg) 30 round repeat;
    -box-shadow: 0 0 20px rgba(0,0,0,1) inset;
    -z-index: 2;
}
.my_photo_image{
    position: absolute;
    width: 300px;
    height: 300px;
    border: solid;
    border-color: #afb3b4;

    -box-sizing: content-box;
    box-shadow: 0 0 20px rgba(0,0,0,1);
    border-width: 15px;
    border-radius: 50%;
    -z-index: 1;
}

p.go_from_intro{
    text-align: center;
    padding-top: 40%;
    margin: auto;
    /*position: absolute;*/
    /*top: 73%;*/
    /*left: 45%;*/
}
img.go{
    animation-iteration-count: infinite;
    animation-duration: 1.0s;
    animation-direction: alternate;
    animation-name: reduce;
}
@keyframes reduce {
    from {
        width: 70px;
        height: 70px;
    }
    to {
        width: 65px;
        height: 65px;
    }
}


/*PORTFOLIO*/

h2.portfolio{
    margin: 0;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px rgba(92, 46, 0, 0.78);
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
    padding-top: 110px;
    padding-bottom: 80px;
}
.portfolio_container{
    -position: relative;
    background-image: url(potfolio_backround.png);
    background-size: 100%;
    height: 770px;
    width: 1423px;
}
.portfolio_examples{
    text-align: center;
    margin: auto;

}
.portfolio_item{
    display: inline-block;
    width: 330px;
    height: 260px;
    vertical-align: top;
}
.portfolio_item:nth-child(even){
    margin-left: 30px;
}
.portfolio_item_description{

    margin-top: 15px;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px rgba(92, 46, 0, 0.78);
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;

}
div#landing_item a{

    overflow: auto;
}
.portfolio_footer{
    color: white;
    text-shadow: 0 0 10px rgba(92, 46, 0, 0.78);
    font-size: 1.8rem;
    margin-top: 80px;
    text-align: center;
    font-family: 'Raleway', sans-serif;

}
.go_from_portfolio{
    text-align: center;
    padding-top: -40%;
    /*margin: auto;*/
    /*position: absolute;*/
    /*top: 73%;*/
    /*left: 45%;*/
}

/*SKILLS*/
.skills_container{
    height: 770px;
    width: 1423px;
    background-image: url(Skills_background.png);
    background-size: 100%;
    font-family: 'Raleway', sans-serif;
    color: white;
}
h2.skills_header{
    text-align: center;
    margin: auto;
    padding: 100px 0 60px 0;
    text-shadow: 0 0 10px rgba(78, 142, 198, 0.78);
    font-size: 2.5rem;
}
div.skills{
    text-align: center;
}
ul.skills_list{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-bottom: 7%;
    /*border: solid 1px white;*/
}
li.skills_item {
    list-style-type: none;
    font-size: 1.8rem;
    text-shadow: 0 0 10px rgba(62, 97, 198, 0.78);
    font-weight: bold;
    line-height: 1.5;
}
div.about_skills{
    display: inline-block;
    vertical-align: top;
    margin-left: 15%;
    text-align: left;
    font-size: 1.8rem;
    width: 500px;
    text-shadow: 0 0 10px rgba(62, 97, 198, 0.78);
    font-weight: bold;
    /*border: solid 1px white;*/
    line-height: 1.5;
}


/*CONTACTS*/
.contacts_container{
    height: 770px;
    width: 1423px;
    background-image: url(contacts.png);
    background-size: 100%;
    font-family: 'Special Elite', cursive;
    text-align: center;
    font-size: 30px;
    margin-top: 0;
}
.contacts{
    margin: 15% auto 0 auto;
    width: 600px;
}
.email{
    text-decoration: none;
    color: black;
}
.email:hover{
    color: rgba(28, 61, 73, 1);
}
.go_from_contacts{
    text-align: center;
    padding-top: 10%;
    /*margin: auto;*/
    /*position: absolute;*/
    /*top: 73%;*/
    /*left: 45%;*/
}