body{
    margin: 0;
    padding: 0;
}
.intro{
    position: relative;
    z-index: 0;
}
.intro_banner{
    text-align: center;
    background-image: url(intro_background.jpg);
    -background-size: 100%;
    height: 770px;
    width: 1423px;
    margin: 0 auto;
}
.intro_nav{
    position: absolute;
    top: 12%;
    left: 8%;
}
.intro_nav_item{
    color: #303030;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    padding: 10px;
    border: solid 2px transparent;
}
.intro_nav_item:hover{
    border: solid 2px #303030;
    border-radius: 5%;
}
.intro_nav_item:active{
    background-color: rgba(255, 255, 255, 0.3);
}
h1{
    color: #303030;
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 27%;
    left: 30%;
    padding: 35px;
    /*border: solid 10px #303030;*/
    animation: 1s linear;
}
.speciality{
    line-height: 2;
}


/*ZOOM-IN*/
@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

h1.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}


.my_photo{
    position: absolute;
    top: 45%;
    left: 5%;
    line-height: 0;
    -border: solid;
    border-radius: 50%;
    -border-width: 15px;
    -background-color: transparent;
    -border-image: url(photo_border.jpg) 30 round repeat;
    -box-shadow: 0 0 20px rgba(0,0,0,1) inset;
    -z-index: 2;
}
.my_photo_image{
    position: absolute;
    width: 300px;
    height: 300px;
    border: solid;
    border-color: #afb3b4;
    -box-sizing: content-box;
    box-shadow: 0 0 20px rgba(0,0,0,1);
    border-width: 15px;
    border-radius: 50%;
    -z-index: 1;
}

p.go_from_intro{
    text-align: center;
    padding-top: 40%;
    margin: auto;
    /*position: absolute;*/
    /*top: 73%;*/
    /*left: 45%;*/
}
img.go{
    animation-iteration-count: infinite;
    animation-duration: 1.0s;
    animation-direction: alternate;
    animation-name: reduce;
    animation-timing-function: linear;
}
@keyframes reduce {
    from {
        width: 70px;
        height: 70px;
    }
    to {
        width: 67px;
        height: 67px;
    }
}


/*PORTFOLIO*/

h2.portfolio{
    margin: 0;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px rgba(92, 46, 0, 0.78);
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
    padding-top: 110px;
    padding-bottom: 80px;
}
.portfolio_container{
    -position: relative;
    background-image: url(potfolio_backround.png);
    background-size: 100%;
    height: 770px;
    width: 100%;
}
.portfolio_examples{
    text-align: center;
    margin: auto;

}
.portfolio_item_container{
    display: inline-block;
    position: relative;
    width: 330px;
    height: 260px;
    vertical-align: top;
    /* задаем глубину сцене */
    -webkit-perspective: 600px; /* webkit */
    -moz-perspective: 600px; /* mozilla */
    -ms-perspective: 600px; /* IE 10 */
    -o-perspective: 600px; /* opera когда-то тоже должна начать понимать */
    perspective: 600px; /* св-во по стандартам */
}
div.portfolio_item{
/* поворачивать будем общий контейнер */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotateX( 90deg );
    /* трансформации будут происходить анимированно продолжительностью 2 сек */
    -webkit-transition: -webkit-transform 2s;
    -moz-transition: -moz-transform 2s;
    -ms-transition: -moz-transform 2s;
    -o-transition: -o-transform 2s;
    transition: transform 2s;
    /* указываем, что дочерние элементы находятся в 3D пространстве */
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
div.flip{    /* добавляя этот класс, поворачиваем контейнер на 90 градусов */
    -webkit-transform: rotateX( 360deg );
    -moz-transform: rotateX( 360deg );
    -ms-transform: rotateX( 360deg );
    -o-transform: rotateX( 360deg );
    transform: rotateX( 360deg );
}

.portfolio_item_container:nth-child(even){
    margin-left: 30px;
}
.portfolio_item_description{

    margin-top: 15px;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px rgba(92, 46, 0, 0.78);
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;

}
#landing_item {
    width: 330px;
    height: 260px;
    overflow: auto;
}
.portfolio_footer{
    color: white;
    text-shadow: 0 0 10px rgba(92, 46, 0, 0.78);
    font-size: 1.8rem;
    margin-top: 80px;
    text-align: center;
    font-family: 'Raleway', sans-serif;

}
.go_from_portfolio{
    text-align: center;
    padding-top: -40%;
    /*margin: auto;*/
    /*position: absolute;*/
    /*top: 73%;*/
    /*left: 45%;*/
}

/*SKILLS*/
.skills_container{
    -position: relative;
    height: 770px;
    width: 1423px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

/*SKILLS SLIDES*/
.skills_slides{
    list-style:none;
    margin:0;
    padding:0;
    z-index:-2;
    /*background-image: url(skills_background.png);*/
}
.skills_slides,
.skills_slides:after{
    position: fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;}
.skills_slides:after {
    content: '';
    /*background: transparent url(skills_background.png) repeat top left;*/
}
.skills_slides li{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-size:cover;
    background-repeat:none;
    opacity:0;
    -webkit-animation: anim_slides 60s linear infinite 0s;
    -moz-animation: anim_slides 60s linear infinite 0s;
    -o-animation: anim_slides 60s linear infinite 0s;
    -ms-animation: anim_slides 60s linear infinite 0s;
    animation: anim_slides 60s linear infinite 0s;
}
.skills_slides li:nth-child(1){
    background-image: url(skills_background.png)
}
.skills_slides li:nth-child(2){
    -webkit-animation-delay: 20.0s;
    -moz-animation-delay: 20.0s;
    background-image: url(skills_background_2_2.png)
}
.skills_slides li:nth-child(3){
    -webkit-animation-delay: 40.0s;
    -moz-animation-delay: 40.0s;
    background-image: url(skills_background_3.png)
}
@-webkit-keyframes anim_slides {
    /*0% {opacity:0;}*/
    3% {opacity:1;}
    40% {opacity:1;}
    43% {opacity:0;}
    100% {opacity:0;}
}
@-moz-keyframes anim_slides {
    0% {opacity:0;}
    6% {opacity:1;}
    24% {opacity:1;}
    30% {opacity:0;}
    100% {opacity:0;}
}

/*APPEARANCE*/
@-webkit-keyframes appearance {
    from {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
}

@keyframes appearance {
    from {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
}

h2.skills_header{
    text-align: center;
    margin: auto;
    padding: 100px 0 60px 0;
    text-shadow: 0 0 10px rgba(78, 142, 198, 0.78);
    font-size: 2.5rem;
}
div.skills{
    text-align: center;
    position: relative;
}
.skills_list{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-bottom: 7%;
    /*border: solid 1px white;*/
}

li.skills_item {
    list-style-type: none;
    font-size: 1.8rem;
    text-shadow: 0 0 10px rgba(62, 97, 198, 0.78);
    font-weight: bold;
    line-height: 1.5;
    -opacity: 0;
    animation: 1s linear;
}
li.anim:first-child{
    -webkit-animation-name: appearance;
    animation-name: appearance;
    animation-delay: 1ms;
    -webkit-animation-delay: 1ms;
}
li.anim:nth-child(2){
     -webkit-animation-name: appearance;
     animation-name: appearance;
     animation-delay: 500ms;
     -webkit-animation-delay: 500ms;
 }
li.anim:nth-child(3){
    -webkit-animation-name: appearance;
    animation-name: appearance;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
li.anim:nth-child(4){
    -webkit-animation-name: appearance;
    animation-name: appearance;
    animation-delay: 1500ms;
    -webkit-animation-delay: 1500ms;
}
li.anim:nth-child(5){
    -webkit-animation-name: appearance;
    animation-name: appearance;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
li.anim:nth-child(6){
    -webkit-animation-name: appearance;
    animation-name: appearance;
    animation-delay: 2500ms;
    -webkit-animation-delay: 2500ms;
}

div.about_skills{
    display: inline-block;
    vertical-align: top;
    margin-left: 15%;
    text-align: left;
    font-size: 1.8rem;
    width: 500px;
    text-shadow: 0 0 10px rgba(62, 97, 198, 0.78);
    font-weight: bold;
    /*border: solid 1px white;*/
    line-height: 1.5;
}

div.diploma{
    margin-top: 5%;
    margin-right: 5%;
    float: right;
}
img.diploma{
    width: 200px;
    height: 150px;
    filter: opacity(0.5);
    border: solid 2px white;
    -border-radius: 10%;
}
img.diploma:hover{
    filter: opacity(0.9);
}
div.enlarge::before{
    content: '';
    display: inline-block;
    position: fixed;
    -margin-top: 3%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("diploma.jpg");
    background-size: 100%;
    width: 997px;
    height: 700px;
    animation: 1s linear;
    -webkit-animation-name: appearance;
    animation-name: appearance;
}



/*CONTACTS*/
.contacts_container{
    height: 770px;
    width: 100%;
    background-image: url(contacts.png);
    background-size: 100%;
    font-family: 'Special Elite', cursive;
    text-align: center;
    font-size: 30px;
    margin-top: 0;
}
.contacts{
    margin: 15% auto 0 auto;
    width: 600px;
}
.email{
    text-decoration: none;
    color: black;
}
.email:hover{
    color: rgba(28, 61, 73, 1);
}
.go_from_contacts{
    text-align: center;
    padding-top: 10%;
    /*margin: auto;*/
    /*position: absolute;*/
    /*top: 73%;*/
    /*left: 45%;*/
}