html{
	overflow: hidden;
}
*{
	padding: 0;
	margin: 0;
}
#container{
	width: 100vw;
	white-space: nowrap;
	transition: all 0.5s;
	overflow: hidden;
}
.imageItem{
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: inline;
	background-size: cover;
	background-position: center;
}
.btn{
	z-index: 10;
	position: fixed;
	color: white;
	font-size: 5em;
	background-color: transparent;
	font-weight: bold;
	font-family: Georgia;
	border: none;
	outline: none;
	text-shadow: 0 0 30px grey;
	cursor: pointer;
}
.left{
	top: 45vh;
	left: 7vw;
}
.right{
	top: 45vh;
	right: 7vw;
}
.active{
	left: 0;
	z-index: 2;
	transition: left 0.7s;
}
.next{
	left: 100vw;
	z-index: 1;
	transition: left 0.7s;
}
.previous{
	left: -100vw;
	z-index: 1;
	transition: left 0.7s;
}
.indicators{
	z-index: 10 !important;
	position: fixed;
	bottom: 3vh;
	left: calc(50vw - 48px);
}
.indicator{
	display: inline-block;
	margin: 0 3px 0 3px;
	width: 15px;
	height: 15px;
	background-color: transparent;
	border: solid 2px rgba(255,255,255, 0.6);
	border-radius: 50%;
	text-shadow: 0 0 30px grey;
	outline: none;
	cursor: pointer;
}
.indicator.one{
	background-color: rgba(255,255,255, 0.6);
}
