*{
	padding: 0;
	margin: 0;
}
body{
	background-image: url(paper_text.png);
	text-align: center;
}
.formContainer{
	max-width: 640px;
	width: 90vw;
	margin: auto;
	margin-top: 5vh;
}
.input{
	width: 36%;
	margin-top: 2vh;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: grey;
	font-size: 15px;
	padding: 3px;
	border-radius: 5px;
	outline: none;
}
.submitLayout{
	width: 20%;
	margin-top: 2vh;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: grey;
	font-size: 15px;
	padding: 3px;
	border-radius: 5px;
	outline: none;
	/*background-color: white;*/
}
.formParagraph{
	/*text-align: left;*/
	width: 680px;
}
#container{
	padding-top: 2px;
	max-width: 640px;
	width: 90vw;
	height: calc(3*45px + 5px);
	margin: auto;
	margin-top: 10vh;
	transition: all 0.5s;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: inset 0px 0px 8px 0.2px grey;
	background-color: white;
}
.item{
	display: none;
	line-height: 1.8;
	width: 95%;
	height: 40px;
	border-radius: 5px;
	margin: 5px auto 0 auto;
	box-shadow: 0px 0px 8px 0.2px grey;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0px 0px 4px lightgrey;
}
.pagesHolder{
	text-align: center;
	z-index: 10;
	max-width: 640px;
	margin: 10vh auto 10vh auto;
}
.toPageForm{
	display: inline-block;
	width: 6vw;
}
.pages{
	display: inline-block;
}
.toPage, .page{
	display: none;
	margin: 0 0.1vw 0 0.1vw;
	width: 3.8vw;
	height: 4vw;
	color: grey;
	background-color: transparent;
	border: solid 2px grey;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	font-family:  Georgia, 'Times New Roman', Times, serif;
	font-size: 1.4vw;
}
.toPage{
	display: inline-block;
	text-align: center;
	width: 5vw;
	cursor: auto;
	background-color: rgba(255,255,255, 0.6);
}
.shown{
	display: inline-block;
}
.active{
	background-color: rgba(255,255,255, 0.6);
}

@media all and (orientation: portrait), all and (max-aspect-ratio: 4/3) {
	.toPageForm{
		width: 13vw;
	}
	.toPage, .page{
		margin: 0 0.3vw 0 0.3vw;
		width: 6vw;
		height: 6vw;
		font-size: 2vw;
	}
	.toPage{
		width: 8vw;
	}
}