body{
	margin: 0;
	padding: 0;
}
#container{
	height: 100vh;
	width: 100vw;
	background-image: url(bgnd.jpg);
	background-size: auto;
	position: fixed;
}
#placement{
	margin: 20vh 15vw;
}
#bullet{
	height: 75px;
	width: 75px;
	border: 8px solid #8ec6d9;
	border-radius: 50%;
	background-color: #5190a6;
	position: absolute;
	box-shadow: 0 5px 0px #6f9aa8;
}
#target{
	height: 90px;
	width: 90px;
	border-radius: 50%;
	border: 10px solid #4b6384;
	background-color: #0c1015;
	position: fixed;
	margin: 30vh 40vw;
	/*box-shadow: 0 10px 10px grey;*/
	box-shadow: inset 0 8px 0px #1d2633;
}
.match{
	visibility: hidden;
}
#underConstruction{
	background: url(under_construction.png);
	background-size: contain;
	background-repeat: no-repeat;
	position: fixed;
	top: 45vh;
	left: 64vw;
	height: 45vh;
	width: 25vw;
	min-height: 200px;
	min-width: 200px;

}