#bullet{
	height: 70px;
	width: 70px;
	border: 8px solid #8ec6d9;
	border-radius: 50%;
	background-color: #5190a6;
	position: absolute;
	box-shadow: 0 4px 10px grey;
}
#target{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 8px solid #c5d2e3;
	background-color: #f1f5f4;
	position: fixed;
	margin: 50vh 60vw;
	/*box-shadow: 0 10px 10px grey;*/
	box-shadow: inset 0 10px 10px grey;
}
.match{
	visibility: hidden;
}