.news_unit{
    font-family: Arial, sans-serif;
}
h2.news{
    margin: 0 20px 0 20px;
    font-family: 'Oxygen', sans-serif;
    color: rgb(48, 48, 48);
    padding: 23px 0 14px 0;
    font-size: 18px;
    font-weight: normal;
    border-top: solid 1px rgb(229, 229, 229)
}
article.news{
    display: inline-block;
    width: 302px;
    margin: 0 0 0 14px;
    vertical-align: top;
}
div.news_item_container{
    background:	linear-gradient(rgb(240, 240, 240) 96%, transparent 4%),
		linear-gradient(-45deg, white 33%, transparent 33%) 0 100%,
		linear-gradient(45deg, transparent 33%, rgb(240, 240, 240) 33%) 0 100%;
/*    background:	-moz-linear-gradient(rgb(240, 240, 240) 96%, transparent 4%),       doesn't work!!!!!
		-moz-linear-gradient(-45deg, white 33%, transparent 33%) 0 100%,
		-moz-linear-gradient(45deg, transparent 33%, rgb(240, 240, 240) 33%) 0 100%;*/
    background-repeat: repeat-x;
    background-size: 1px 100%, 10px 10px, 10px 10px;
}
img.news_item_image{
    width: 294px;
    border: solid 3px white;
    margin: 1px 1px 0 1px;
}
h3.news_item_header{
    font-family: 'Oxygen', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: rgb(102, 102, 102);
    text-shadow: 0 1px 1px white;
    padding: 12px 8px 0 8px;
}
p.news_item_annotation{
    font-size: 11px;
    color: rgb(153, 153, 153);
    text-shadow: 0 1px 1px white;
    padding: 9px 8px 12px 8px;
}
/*div.news_item_descripton{
    background-color: white;
    margin: -4px 1px 1px 1px;
    border-bottom: solid 1px rgb(240, 240, 240);
    width: 299.7px;
}*/
p.news_item_content{
    font-size: 12px;
    color: rgb(102, 102, 102);
    background-color: white;
    text-shadow: 0 1px 1px white;
    padding: 9px 10px 12px 8px;
    text-align: justify;
}
/*div.news_item_descripton{
    background-color: white;
    margin: -4px 1px 0 1px;
}*/

/*ICONS*/
.news_item_image_container{
    position: relative;
}
.news_item_container:hover .news_item_image_container:after{
    content: "";
    position: absolute;
    left: 3.5px;
    top: 3.5px;
    width: 294px;
    height: 141px;
    background: radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));
    z-index: 1;
}
.news_item_container:hover .news_item_image_container p.download{
    position: absolute;
    left: 27%;
    top: 40%;
    width: 27px;
    height: 27px;
    background: linear-gradient(to bottom, white, #d9d9d9);
    border-radius: 50%;
    box-shadow: inset 0 -1px 2px black,
                0 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 3;
}
.news_item_container:hover .news_item_image_container p.download:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background: url(News_unit_icons_sprite.png) no-repeat -8px -6px;
}
.news_item_container:hover .news_item_image_container p.enlarge{
    position: absolute;
    left: 42%;
    top: 33%;
    width: 47px;
    height: 47px;
    background: linear-gradient(to bottom, white, #d9d9d9);
    border-radius: 50%;
    box-shadow: inset 0 -1px 2px black,
                0 0 0 8px rgba(0, 0, 0, 0.3);
    z-index: 3;
}
.news_item_container:hover .news_item_image_container p.enlarge:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 46px;
    height: 46px;
    background: url(News_unit_icons_sprite.png) no-repeat -50px 2px;
}
.news_item_container:hover .news_item_image_container p.open{
    position: absolute;
    left: 63%;
    top: 40%;
    width: 27px;
    height: 27px;
    background: linear-gradient(to bottom, white, #d9d9d9);
    border-radius: 50%;
    box-shadow: inset 0 -1px 2px black,
                0 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 3;
}
.news_item_container:hover .news_item_image_container p.open:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background: url(News_unit_icons_sprite.png) no-repeat -8px -6px;
}
.news_item_container:hover .news_item_image_container p:active{
    background: linear-gradient(to top, white, #d9d9d9);
    box-shadow: inset 0 1px 2px black,
                0 0 0 4px rgba(0, 0, 0, 0.3);
}