body{
	 margin: 0;
}
#canvas{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url('backToSchool.jpg');
}
#menu_buttons{
	position: relative;
	float: right; 
	margin-right: 0vw;     
	width: 15vw;
}
.btn{
	margin-top: 1vh;
	width: 12vw;
	min-width: 65px;
	height: 5vw;
	min-height: 30px;
	border-radius: 7px;
	background-color: rgba(0, 0, 0, 0.5);
	font-weight: bold;
	font-size: 2.5vw;
	color: white;
	font-family: Comic Sans MS, Comic Sans, cursive;
}
.btn:active, button:focus {
  outline: none;
}
.btn:active {
  color: rgba(0, 0, 0, 0.7);
}
.dropDown {
	visibility: hidden;
}
@media screen and (max-width: 480px){
	.btn{
		font-size: 16px;
	}
}