body{
    margin: 0;
    padding: 0;
}
/******************INTRO**********************/
.intro_banner{
    text-align: center;
    background-image: url(intro_background.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    -min-width: 380px;
    margin: 0 auto 0 auto;
}
div.advertisement{
    text-align: right;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 5px;
    position: relative;
    z-index: 1;
}
a.advertisement{
    text-decoration: none;
    color: #d4dbe1;
    font-size: 1.4vw;
}
a.advertisement:visited{
    color:#d4dbe1;
}
a.advertisement:hover{
    text-decoration: underline;
}
.intro_nav{
    margin: 0 0 0 -10vw;
    padding-top: 14vh;
    text-align: left;
    opacity: 0;
    transition: margin-left 1.3s, opacity 1.3s 0.3s;
}
.appear_left_to_right{
    margin-left: 10vw;
    opacity: 1;
}
.intro_nav_item{
    color: #303030;
    font-size: 4vh;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    padding: 10px;
    border: solid 2px transparent;
}
.intro_nav_item:hover{
    border: solid 2px #303030;
    border-radius: 5%;
}
.intro_nav_item:active{
    background-color: rgba(255, 255, 255, 0.3);
}
h1{
    color: #303030;
    font-size: 6vh;
    font-family: 'Raleway', sans-serif;
    margin: 14vh auto 0 auto;
    opacity: 0;
    animation: 1s linear 0.6s;
}
h1.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    animation-fill-mode: forwards;
}
.speciality{
    margin-top: 2vh;
}
/*ZOOM-IN*/
@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
    }
    to {
        opacity: 1;
    }
}
@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    to {
        opacity: 1;
    }
}
.my_photo{
    position: relative;
    -opacity: .99;
    margin-top: -7vh;
    margin-left: 5%;
    text-align: left;
    width: 25vw;
    -min-width: calc(150px + 3vw);
    height: 25vw;
    -min-height: calc(150px + 3vw);
    line-height: 1;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -ms-perspective: 600px;
    -o-perspective: 600px;
    perspective: 600px;
}
.my_photo_image{
    position: absolute;
    top: 0;
    left: 0;
    width: 22vw;
    -min-width: 150px;
    height: 22vw;
    -min-height: 150px;
    border: solid 1.5vw #afb3b4;
    box-shadow: 0 0 20px rgba(0,0,0,1);
    border-radius: 50%;
    z-index: 2;
    transform: rotateY( 90deg );
    opacity: 0;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transition: -webkit-transform 2s 1.2s;
    -moz-transition: -moz-transform 2s 1.2s;
    -ms-transition: -moz-transform 2s 1.2s;
    -o-transition: -o-transform 2s 1.2s;
    transition: transform 2s 1.2s;
}
.my_photo_border{
    position: absolute;
    top: 1.5vw;
    left: 1.5vw;
    width: 21.9vw;
    height: 21.9vw;
    border-radius: 50%;
    box-shadow: 0 0 1.5vw rgba(0,0,0,1);
    z-index: 2;
    line-height: 1;
    transform: rotateY( 90deg );
    opacity: 0;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transition: -webkit-transform 2s 1.2s;
    -moz-transition: -moz-transform 2s 1.2s;
    -ms-transition: -moz-transform 2s 1.2s;
    -o-transition: -o-transform 2s 1.2s;
    transition: transform 2s 1.2s;
}
.flipY{
    opacity: 1;
    -webkit-transform: rotateY( 360deg );
    -moz-transform: rotateY( 360deg );
    -ms-transform: rotateY( 360deg );
    -o-transform: rotateY( 360deg );
    transform: rotateY( 360deg );
}
.go_from_intro{
    margin: -15vh auto 2vw auto;
    text-align: center;
    opacity: 0;
    transition: opacity 1.5s 1.5s;
}
.appear_in{
    opacity: 1;
}
img.go{
    width: 5vw;
    min-width: 60px;
    max-width: 75px;
    animation-iteration-count: infinite;
    animation-duration: 1.0s;
    animation-direction: alternate;
    animation-name: reduce;
    animation-timing-function: linear;
    -webkit-font-smoothing: subpixel-antialiased;
}
/*.go_from_intro .fa-border{*/
/*color: #303030;*/
/*border-color: #303030;*/
/*border-radius: 50%;*/
/*padding: .1em .3em .1em;*/
/*}*/
@keyframes reduce {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


/******************PORTFOLIO**********************/
.portfolio_container{
    background-image: url(belyy-kirpich-stena-iz-kirpicha.jpg);
    background-size: 100%;
    height: 100%;
    width: 100%;
}
div.portfolio{
    background: url(potfolio_inner_backround.png) repeat-y;
    background-size: 100%;
    height: 100%;
    width: 85%;
    margin: 0 auto 0 auto;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.4),
        -10px 0 10px rgba(0, 0, 0, 0.4);

}
h2.portfolio{
    margin: 0;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px rgba(92, 46, 0, 0.78);
    font-size: 6vh;
    font-family: 'Raleway', sans-serif;
    padding-top: 50px;
    padding-bottom: 3vw;
}
.portfolio_examples{
    text-align: center;
    margin: auto;
    width: 85%;
}
.portfolio_item_container{
    margin: 30px 3vw 30px 3vw;
    display: inline-block;
    position: relative;
    width: 23vw;
    height: 23vw;
    min-width: 250px;
    min-height: 250px;
    vertical-align: top;
    /* задаем глубину сцене */
    -webkit-perspective: 800px; /* webkit */
    -moz-perspective: 800px; /* mozilla */
    -ms-perspective: 800px; /* IE 10 */
    -o-perspective: 800px; /* opera когда-то тоже должна начать понимать */
    perspective: 800px; /* св-во по стандартам */
}
div.portfolio_item{
    /* поворачивать будем общий контейнер */
    position: absolute;
    top: 0;
    left:5%;
    width: 90%;
    height: 90%;
    transform: rotateX( 90deg );
    /* указываем, что дочерние элементы находятся в 3D пространстве */
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /* трансформации будут происходить анимированно продолжительностью 2 сек */
    -webkit-transition: -webkit-transform 2s;
    -moz-transition: -moz-transform 2s;
    -ms-transition: -moz-transform 2s;
    -o-transition: -o-transform 2s;
    transition: transform 2s;
    opacity: 0;
}
div.flip{    /* добавляя этот класс, поворачиваем контейнер на 90 градусов */
    -webkit-transform: rotateX( 360deg );
    -moz-transform: rotateX( 360deg );
    -ms-transform: rotateX( 360deg );
    -o-transform: rotateX( 360deg );
    transform: rotateX( 360deg );
    opacity: 1;
}
.portfolio_item img{
    width: 100%;
    height: 100%;
}
.portfolio_item_description{
    margin: 15px;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px rgba(92, 46, 0, 0.78);
    font-size: 3vh;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 15px;
}
#landing_item, #officetime_item{
    width: 100%;
    height: 100%;
    overflow: auto;
}
#landing_item img, #officetime_item img{
    width: 100%;
    height: auto;
}
.portfolio_footer{
    color: white;
    text-shadow: 0 0 10px rgba(92, 46, 0, 0.78);
    font-size: 3vh;
    margin-top: 40px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.go_from_portfolio{
    text-align: center;
}
.go_up, .go_down{
    display: inline-block;
    width: 5vw;
    min-width: 60px;
    max-width: 75px;
    margin: 0 0.1vw 2vw 0.1vw;
}

/******************SKILLS**********************/
.skills_container{
    position: relative;
    height: 100vh;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color: white;
}
/*SKILLS SLIDES*/
.skills_slides{
    list-style:none;
    margin:0;
    padding:0;
    z-index:-2;
    position: fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.skills_slides li{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-size:cover;
    background-repeat:no-repeat;
    opacity:0;
    -webkit-animation: anim_slides 60s linear infinite 0s;
    -moz-animation: anim_slides 60s linear infinite 0s;
    -o-animation: anim_slides 60s linear infinite 0s;
    -ms-animation: anim_slides 60s linear infinite 0s;
    animation: anim_slides 60s linear infinite 0s;
}
.skills_slides li:nth-child(1){
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    background-image: url(skills_background.png)
}
.skills_slides li:nth-child(2){
    animation-delay: 20s;
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 20s;
    background-image: url(skills_background_2.png)
}
.skills_slides li:nth-child(3){
    animation-delay: 40s;
    -webkit-animation-delay: 40s;
    -moz-animation-delay: 40s;
    background-image: url(skills_background_3.png)
}
@-webkit-keyframes anim_slides {
    0% {opacity:0;}
    3% {opacity:1;}
    40% {opacity:1;}
    43% {opacity:0;}
    100% {opacity:0;}
}
@-moz-keyframes anim_slides {
    0% {opacity:0;}
    3% {opacity:1;}
    40% {opacity:1;}
    43% {opacity:0;}
    100% {opacity:0;}
}
@keyframes anim_slides {
    0% {opacity:0;}
    3% {opacity:1;}
    40% {opacity:1;}
    43% {opacity:0;}
    100% {opacity:0;}
}

h2.skills_header{
    text-align: center;
    margin: auto;
    padding: 5vw 0 2vw 0;
    text-shadow: 0 0 10px rgba(78, 142, 198, 0.78);
    font-size: 6vh;
}
div.skills{
    text-align: center;
    position: relative;
}
.skills_list{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
li.skills_item {
    list-style-type: none;
    font-size: 4vh;
    text-shadow: 0 0 10px rgba(62, 97, 198, 0.78);
    font-weight: bold;
    line-height: 1.5;
    opacity: 0;
    -webkit-animation: 1s linear;
    -moz-animation: 1s linear;
    -o-animation: 1s linear;
    animation: 1s linear;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    -o-animation-direction: normal;
    animation-direction: normal;
}
li.anim{
    -webkit-animation-name: appearance;
    -moz-animation-name: appearance;
    -o-animation-name: appearance;
    animation-name: appearance;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes appearance {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-moz-keyframes appearance {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes appearance {
    from {opacity: 0;}
    to {opacity: 1;}
}
div.about_skills{
    display: inline-block;
    vertical-align: middle;
    margin-left: 9vw;
    text-align: left;
    font-size: 4vh;
    width: 40vw;
    text-shadow: 0 0 10px rgba(62, 97, 198, 0.78);
    font-weight: bold;
    line-height: 1.5;
    opacity: 0;
    animation: 1s linear;
}
div.zoomIn{
    animation: 1s linear;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    animation-fill-mode: forwards;
}

div.diploma{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10vw;
}
img.diploma{
    width: 14vw;
    /*    min-width: 200px;
        min-height: 150px;*/
    filter: opacity(0.5);
    border: solid 2px white;
    margin-bottom: 4vh;
}
img.diploma:hover{
    filter: opacity(0.9);
}
div.enlarge::before{
    content: '';
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: 100%;
    background-repeat: no-repeat;
    /*    width: 1000px;
        height: 688px;*/
    width: 75vw;
    height: 100%;
    animation: 1s linear;
    -webkit-animation-name: appearance;
    animation-name: appearance;
    z-index: 1;
}
div.bachelor.enlarge::before{
    background-image: url(diploma.jpg);
}
div.master.enlarge::before{
    background-image: url(diplomaMaster.jpg);
}
.go_from_skills{
    padding: 5vh 0 2vw 0;
}


/******************CONTACTS**********************/
.contacts_container{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(contacts.png);
    font-family: 'Special Elite', cursive;
    text-align: center;
    font-size: 4vh;
    -margin-top: 0;
    line-height: 1.8;
}
.contacts{
    margin: 21vh auto 0 auto;
}
.contacts p{
    margin: 0;
}
.email{
    text-decoration: none;
    color: black;
}
.email:hover{
    color: rgba(28, 61, 73, 1);
}
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.contacts p {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.go_from_contacts{
    margin: 12vh auto 2vh auto;
}

/******************MEDIA**********************/
@media screen and (orientation: portrait), all and (max-aspect-ratio: 4/3){
    div.advertisement{
        text-align: center;
        margin: 20px auto 0 auto;
    }
    a.advertisement{
        color: #303030;
        font-size: 2.5vh;
    }
    a.advertisement:visited{
        color:#303030;
    }
    .intro_nav{
        margin: 0 auto 0 auto;
        padding-top: 0;
        text-align: center;
        transition: padding-top 1.5s, opacity 0.5s 0.3s;
    }
    .appear_left_to_right{
        padding-top: 10vh;
        opacity: 1;
    }
    h1{
        font-size: 7vw;
        margin: 7vh auto 0 auto;
    }
    .my_photo{
        margin: 7vh auto 0 auto;
        width: calc(22vh + 3vw);
        -min-width: calc(22vh + 3vw);
        height: calc(22vh + 3vw);
        -min-height: calc(22vh + 3vw);
    }
    .my_photo_image{
        width: 22vh;
        -min-width: 22vh;
        height: 22vh;
        -min-height: 22vh;
    }
    .my_photo_border{
        width: 22vh;
        -min-width: 22vh;
        height: 22vh;
        -min-height: 22vh;
    }
    p.go_from_intro{
        margin: 6vh auto 3vh auto;
    }
    img.go{
        width: 9vh;
        min-width: 50px;
    }

    .portfolio_item_container{
        margin: 5vh auto 5vh auto;
        width: 40vh;
        height: 40vh;
        min-width: 40vh;
        min-height: 40vh;
    }
    .portfolio_item_description{
        font-size: 3vh;
        margin: 2vh 15px 2vh 15px;
    }
    .go_up, .go_down{
        margin: 0 0.5vh 0 0.5vh;
    }
    .portfolio_footer{
        margin-top: 5vh;
    }

    h2.skills_header{
        font-size: 5vh;
        padding: 5vw 0 1vw 0;
    }
    .skills_list{
        display: none;
    }
    div.about_skills{
        display: block;
        text-align: center;
        margin: 1vh auto 0 auto;
        font-size: 3vh;
        width: 85%;
    }
    div.diploma{
        display: block;
        margin: 5vw auto 0 auto;
    }
    img.diploma{
        width: 25vh;
    }
    div.enlarge::before{
        top: 30%;
        transform: translate(-50%, 0);
        width: 100vw;
    }
    .go_from_skills{
        padding: 3vh 0 2vw 0;
    }
}
@media screen and (orientation: landscape) and (min-aspect-ratio: 21/10){

    .intro_banner{
        height: 100vh;
    }
    .intro_nav_item{
        font-size: 3vw;
    }
    h1{
        font-size: 3vw;
        font-family: 'Raleway', sans-serif;
        margin: 10vh auto 0 auto;
    }
    .my_photo{
        margin: -13vw 0 0 6vh;
        width: 23vw;
        -min-width: 23vw;
        height: 23vw;
        -min-height: 23vw;
    }
    .my_photo_image{
        width: 20vw;
        -min-width: 20vw;
        height: 20vw;
        -min-height: 20vw;
    }
    .my_photo_border{
        width: 20vw;
        -min-width: 20vw;
        height: 20vw;
        -min-height: 20vw;
        -border: solid 5px red;
    }
    p.go_from_intro{
        margin: -5vw auto 2vw auto;
    }
    img.go{
        width: 5vw;
    }

    .portfolio_item_container{
        margin: 5vh auto 10vh auto;
    }
    .portfolio_item_description{
        font-size: 5vh;
        padding-bottom: 2vh;
    }
    .portfolio_footer{
        font-size: 2vw;
    }

    .contacts_container{
        font-size: 7vh;
        line-height: 1.2;
        height: 110vh;
    }
}