html {
	overflow:  hidden;
}
body{
	margin: 0;
	position: relative;
}
#layer1{
	margin: -3vh 0 0 -3vw;
	height: 105vh;
	width: 105vw;
	background-image: url(bgnd.jpg);
	background-size: cover;
}
#layer2{
	margin-top: 27vh;
	margin-left: 30vw;
}
#layer2-rotative{
	border: 15px solid #ede1cb;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color: #ede1cb;
	transform: rotate(5deg);
}
#layer3{
	margin-top: 37vh;
	margin-left: 48vw;
}
#layer3-rotative{
	border: 10px solid #dcfbd2;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color: #dcfbd2;
	transform: rotate(-5deg);
}
#layer4{
	margin-top: 22vh;
	margin-left: 56vw;
}
#layer4-rotative{
	border: 10px solid #fce5e5;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color: #fce5e5;
	transform: rotate(3deg);
}
#layer5{
	margin-top: 45vh;
	margin-left: 66vw;
}
#layer5-rotative{
	border: 10px solid #fefcc4;
	border-radius: 25px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color: #fefcc4;
	transform: rotate(4deg);
}
#layer6{
	margin-top: 32vh;
	margin-left: 77vw;
}
#layer6-rotative{
	border: 10px solid #ebf3fe;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color: #ebf3fe;
	transform: rotate(-4deg);
}

div.horizontal.increased{
	margin-top: 10vh !important;
	margin-left: 20vw !important;
	z-index: 1 !important;
	transition: margin-top 2s, margin-left 2s, z-index 0 linear 2s;
}
.horizontal.increased img{
	width: 65vw !important;
	height: 43vw !important;
	transition: width 2s, height 2s;
}
div.vertical.increased{
	margin-top: 10vh !important;
	margin-left: 30vw !important;
	z-index: 10 !important;
}
.vertical.increased img{
	height: 90vh !important;
	width: auto;
}

@media screen and (max-width: 1000px){
	#layer1{
	  width: 110vw;
	}
	#layer2{
	  margin-top: 0vh;
	  margin-left: 25vw;
	}
	#layer3{
	  margin-top: 20vh;
	  margin-left: 52vw;
	}
	#layer4{
	  margin-top: 40vh;
	  margin-left: 15vw;
	}
	#layer5{
	  margin-top: 55vh;
	  margin-left: 55vw;
	}
	#layer6{
	  margin-top: 73vh;
	  margin-left: 22vw;
	}
	div.horizontal.increased{
		margin-top: 20vh !important;
		margin-left: 0vw !important;
	}
	.horizontal.increased img{
		width: 100vw;
	}
	div.vertical.increased{
		margin-left: 25vw !important;
	}
	.vertical.increased img{
		height: 80vh !important;
	}
}

@media screen and (max-width: 480px){
	div.vertical.increased{
		margin-left: 5vw !important;
	}
}
