html {
	overflow:  hidden;
}
body{
	margin: 0;
}
#layer1{
	margin: -3vh 0 0 -3vw;
	height: 105vh;
	width: 105vw;
	background-image: url(bgnd.jpg);
	background-size: cover;
}
#layer2{
	margin-top: 27vh;
	margin-left: 30vw;
	height: 160px;
}
#layer2-rotative{
	border: 15px solid #ede1cb;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color: #ede1cb;
	transform: rotate(5deg);
}
#layer3{
	/*margin: 290px 670px;*/
	margin-top: 37vh;
	margin-left: 48vw;
	height: 230px;
}
#layer3-rotative{
	border: 10px solid #dcfbd2;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color: #dcfbd2;
	transform: rotate(-5deg);
}
#layer4{
	margin-top: 22vh;
	margin-left: 56vw;
	height: 180px;
}
#layer4-rotative{
	border: 10px solid #fce5e5;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color: #fce5e5;
	transform: rotate(3deg);
}
#layer5{
	margin-top: 45vh;
	margin-left: 66vw;
	height: 240px;
}
#layer5-rotative{
	border: 10px solid #fefcc4;
	border-radius: 25px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color: #fefcc4;
	transform: rotate(4deg);
}
#layer6{
	margin: 240px 1090px;
	margin-top: 32vh;
	margin-left: 77vw;
	height: 165px;
}
#layer6-rotative{
	border: 10px solid #ebf3fe;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color: #ebf3fe;
	overflow: hidden;
	transform: rotate(-4deg);
}
.enlarged{
transform: scale(2) !important;
	margin: auto !important;
}

@media screen and (max-width: 1200px){
	#layer1{
	  width: 110vw;
	}
	#layer2{
	  margin-top: 0vh;
	  margin-left: 25vw;
	}
	#layer3{
	  margin-top: 20vh;
	  margin-left: 52vw;
	}
	#layer4{
	  margin-top: 40vh;
	  margin-left: 15vw;
	}
	#layer5{
	  margin-top: 55vh;
	  margin-left: 55vw;
	}
	#layer6{
	  margin-top: 73vh;
	  margin-left: 22vw;
	}
}