div.middle-section {
	height: 580px;
	min-height: 580px;
	min-width: 1023px;
	background-image: url(Background_middle_section.jpg);
	background-size: 100%;
	margin: 0 auto;
	text-align:center;
	padding: 0;
}

div.middle-section_container {
	height: 580px;
	width: 1023px;
	margin: 0 auto;
	text-align: middle;
}

h2.middle-section {
	padding: 80px 0 0 0;
	margin: 0 auto;
	color: #ee8129;
	font-family: FuturaBT Book, sans-serif;
	font-size: 26px;
	font-weight: 100;
	text-align: left;
	text-transform: uppercase;
	line-height: 2;
}

p.middle-section {
	padding: 10px 0 0 0;
	margin: 0 auto;
	color: white;
	font-family: OpenSans, sans-serif;
	font-size: 19px;
	font-weight: 400;
	text-align: left;
	font-style: italic;
}
ul.middle-section {
	padding: 25px 380px 0 25px;
	margin: 0 auto;
	color: #9d9d9d;
	font-family: OpenSans, sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	line-height: 2;
}

li.middle-section {
	padding: 10px 0 0 0;
	margin: 0 auto;
}

li.middle-section:hover {
	color: #3070a8;
}