.services_block {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}
.services_block_container {
    width: 100%;
    width: 71vw;
    min-width: 1023px;
    /*height: 565px;*/
    margin: 0 auto;
}
h2.services_block {
    width: 90%;
    /*height: 100px;*/
    background-color: white;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 30px;
    font-family: Trebuchet MS, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #41525c;
    text-transform: uppercase;
}
.services_line {
    display: inline-block;
    background-color: white;
    /*height: 335px;*/
    width: 100%;
    margin: 0;

}
.services_block_container img {
    width: 95%;
    max-width: 140px;
    /*height: auto;*/
}
div[class*="service_item"] {
    display: inline-block;
    margin: 0;
    background-color: white;
    /*height: 22vw;*/
    width: 21%;
}
h3.service_item {
    font-family: FuturaBT Book, sans-serif;
    font-size: 1.6rem;
    color: #3070a8;
    text-transform: uppercase;
    font-weight: 100;
}
p.service_item {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    color: #999999;
    font-weight: 100;
    margin-bottom: 10px;
}
div.service_item2 {
    margin: 0 50px;
}